label {
    font-weight: 500;
}

main {
    margin-top: 15px;
}


.search-history-item {
    border-bottom: 1px solid #DDD;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
    margin: 0px;
}

.search-history-item:hover {
    background-color: #EEE;
}

.weather-forecast-day {
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

#navbar {
    background-color: #222;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}

#search-bar {
    border-bottom: 1px solid #DDD;
    margin-bottom: 0px;
    padding-bottom: 14px;
}

#search-btn {
    color: white;
    border-color: white;
    background-color: dodgerblue;
}

#uv-index {
    padding-left: 3px;
    padding-right: 3px;
    background-color: orangered;
    border-radius: 5px;
    color: white;
}

#weather-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#weather-summary {
    border: solid 1px #DDD;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#weather-summary-icon {
    height: 64px;
}